<h2 style="color: white; font-size: 2rem; margin: 20px;">Helmet</h2>
<div class="container">
    <div>
    <p style="color: white; font-size: 1.25rem; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"></p>
        <ul style="color: white; font-size: 1.25rem;">
            <li><strong>Winged Crest:</strong> The helmet features a prominent crest with majestic wings, symbolizing the Valkyrie's connection to the heavens.</li>
            <li><strong>Golden Accents:</strong> Ornate golden accents adorn the helmet, adding a regal and divine touch to its appearance.</li>
            <li><strong>Visor of Valor:</strong> The visor is crafted with a strong and durable material, representing the Valkyrie's commitment to valor and protection.</li>
            <li><strong>Runic Engravings:</strong> Intricate runic engravings cover the surface of the helmet, imbued with ancient magic to enhance the Valkyrie's abilities.</li>
            <li><strong>Feathered Mane:</strong> A feathered mane drapes down from the back of the helmet, symbolizing the Valkyrie's association with the spirits of fallen warriors.</li>
        </ul>
    </div>
    <img src="https://cdnb.artstation.com/p/assets/images/images/060/087/369/large/akash-yenare-1007-viewport.jpg?1677781846" alt="valkyrie helmet">
</div>