<h1>Valkyrie</h1>
<div class="container">
<img src="https://media.sketchfab.com/models/a4b4ab11feb24b979fcd81013096fe63/thumbnails/774629b425b84fc8836dd7fc0164c684/faea629fb66e46d99f317155e6711189.jpeg">
<h2>A valkyrie is one of a host of female figures who guide souls of the dead to the god Odin's hall Valhalla. 
    There, the deceased warriors become <i>einherjar.</i><br>
    They are sometimes described as the daughters of royalty, sometimes accompanied by ravens and sometimes connected to swans or horses.<br>
    <br>
    <h3><i>"Countless winters, we served the Allfather. But only through his union to the Queen, did we ever taste some measure of freedom" - Sigrun, God of War: Ragnarok (2022)</i></h3>
</h2>

</div>